:root
{
    --body-bg-color: #0d1117;;
    --body-color: #c9d1d9;
    --navbar-color: #409eff;
    --navbar-bg-color: #161b22;
    --input-bg-color: #0d1117;
    --input-color: #c9d1d9;
}


[theme="light"]
{
    --body-bg-color: violet;
    --body-color: indigo;
    --navbar-color: blue;
    --navbar-bg-color: green;
    --input-bg-color: yellow;
    --input-color: orange;

}

@media only screen and (max-width: 450px) 
{
    div.scroll-horizontal
    {
        width: 340px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
    input
    {
        display: block;
        width: 340px !important;
        height: 30px;
        margin: 10px auto !important;
    }

    .root{
        border: 1px #30363d solid !important;
        padding: 8px !important;
    }

    .ttt
    {
        margin-bottom: 15px !important;
    }

    .do
    {
        margin-bottom: 15px !important;
        margin-top: 20px !important;
    }
}
div.scroll-horizontal
{
    margin: 20px 0;
}

input[type=text], input[type=number], input[type=password]
{
    padding-left: 5px;
}



body{
    
    background-color: var(--body-bg-color); 
    color: var(--body-color); 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
}

.navbar{
    color: var(--navbar-color);
    background-color: var(--navbar-bg-color); 
    animation: slide ease .7s;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

div{
    margin: 1px auto;
}

.root{
    border: 1px solid #30363d;
    margin: auto;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.btn-secondary{
    margin: 0px;
    height: 11px;
    width: 11px;
    border: 1px solid rgba(27, 31, 35, 0.06);
    border-radius: 2px;
    padding: 0px;
    display: block;
}

.c0{
    background: #272b33;
}
.c1{
    background: #006d32;
}
.c2{
    background: #39d353;
}

.c0:hover{
    background: #0e4429;
}
.c1:hover{
    background: #0e4429;
}
.c2:hover{
    background: #26a641;
}

.c0:focus{
    background: #272b33;
}
.c1:focus{
    background: #006d32;
}
.c2:focus{
    background: #39d353 ;
}

input{
    background-color: var(--input-bg-color); 
    border: 1px solid #71828e;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    color: var(--input-color); 
    width: 32.8%;
}
input:hover {
    border: 1px solid #bdc4cc;
}
input[type="submit"]:hover {
    background: #525964;
}
input[type="button"]:hover {
    background: #525964;
}
input:focus {
    outline: none !important;
    border: 1px solid #409eff;
    box-shadow: 0 0 0 3px #1e60d5;
}

.ttt{
    width: 68%;
}

.tr{
    width: 10%;
    background: #21262d;
}

.do{
    margin-top: 20px;
    width: 100%;
    background: #21262d;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
    position: absolute; 
    right: 12px;
    top: 25px;
       
  
  }
  .theme-switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
  }
  
  .nextTheme
  {
      margin-left: 10px;
      margin-bottom: 4px;
      color: var(--current-mode-text-color);
      font-size: 12px;
  }
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .3s;
    width: 13px;
  }
  
  input:checked + .slider {
    background-color: #4f95e4;
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  