{% extends "main.html" %}
{% block main %}
<p class=message id="contribute">
    To automatically change your graffiti every day, register here using a <a href="https://github.com/settings/tokens">generated Personal Access Token</a>
    with Repo and Delete repo scopes.
</p>
<div><input type="text" class="admin" name="name" placeholder="Username"></div>
<div><input type="text" class="admin" name="email" placeholder="Email"></div>
<div><input type="password" class="admin" name="password" placeholder="Create Password"></div>
<div><input type="password" class="admin" name="auth" placeholder="Personal Access Token"></div>
<div><input type="submit" class="admin do" value="Register"></div>
{% endblock %}

{% block graph %}
{% endblock %}

{% block submit %}
{% endblock %}