{% extends "main.html" %}

{% block main %}
<p class=message id="contribute">
    Anyone can contribute! You may have noticed that some characters don't translate (or do it ugly). Help us expand our character set
    by simply drawing on the grid below and giving it a name. Changes are effective immediately!
    Credits will be given in the commit message. If you want to receive contributor status instead, <a href="https://github.com/settings/tokens">generate a Personal Access Token</a>
    with Repo scope and a fork will be created and a PR opened in your account.
</p>
{% endblock %}

{% block submit %}
<div>
    <input type="text" class="admin" name="alias" placeholder="Alias (for the design)" {% if form %} value="{{form['alias']}}" {% endif %}>
    <input type="text" class="admin" name="name" placeholder="GitHub username (to be thanked in the commit message)" {% if form %} value="{{form['name']}}" {% endif %}>
    <input type="password" class="admin" name="auth" placeholder="Personal Access Token (If you want contributor status)" {% if form %} value="{{form['auth']}}" {% endif %}>
</div>
<div>
    <input type="submit" class="do" value="Save">
</div>
{% endblock %}

{% block footer %}
<footer>
    <a href="https://github.com/heckerfr0d/gitfitti-web">What is this bs, take me to GitHub!</a>
</footer>
{% endblock %}
