<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitfitti!</title>
        
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    
<link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">

<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<script src="{{ url_for('static', filename='jquery-3.6.0.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

</head>



<body>
    <nav class="navbar navbar-dark">
        Gitfitti!

        <div class="nav-item dropdown schedule">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Schedule
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/login">Login</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/register">Register</a>
            </div>
        </div>
        
       

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <div class="nextTheme">Dark Mode</span>
        </div>

    </nav>
    
    {% if extra %}
    <div class={{c}} name="result">
        {{extra}}
        {% if n %}
        SUCCESS! Created {{n}} commits as <a href={{profile}}>@{{name}}</a> in <a href={{repo}}>{{repname}}</a>
        {% endif %}
        {% if pr %}
        Pull Request opened/updated! <a href={{pr}}>Check it out!</a>
        {% endif %}
        <button class="close" type="button" aria-label="Dismiss this message" id="dismiss">&#10005;</button>
    </div>
    {% endif %}
    <br>
    <div class="root" id = "main">
        <form action={{action}} method="post">
            {% block main %}
            <div>
                <input class="textfield" type="text" name="username" placeholder="Username" {% if form %} value="{{form['username']}}" {% endif %}>
                <input class="textfield" type="text" name="email" placeholder="Email" {% if form %} value="{{form['email']}}" {% endif %}>
                <input class="textfield" type="password" name="password" placeholder="Password/Personal Access Token (Repo scope)" {% if form %} value="{{form['password']}}" {% endif %}>
            </div>
            <div>
                <input class="textfield" type="text" name="repo" placeholder="Link to repo" {% if form %} value="{{form['repo']}}" {% endif %}>
                <input class="textfield" type="number" name="year" placeholder="Year (default: last 52 weeks)" min="1969" {% if form %} value="{{form['year']}}" {% endif %}>
                <input class="textfield" type="number" name="nc" placeholder="Commits/day" min="1" {% if form %} value="{{form['nc']}}" {% endif %}>
            </div>
            {% endblock %}

            {% block graph %}
            <div>
                <div class="scroll-horizontal">
                    <table>
                        <tbody>
                            {% for i in range(7) %}
                            <tr>
                                {% for j in range(52) %}
                                <td>
                                    {% if form %}{% set s = "btn btn-secondary c"+form[i~' '~j]%}{% else %}{% set s = 'btn btn-secondary c0' %}{% endif %}
                                    <button type="button" name="{{i}} {{j}}" class="{{s}}"></button>
                                    {% for k in range(3) %}
                                    {% if (form and form[i~' '~j]==''~k) or (not form and k==0) %}
                                    <input type="radio" name="{{i}} {{j}}" value={{k}} checked hidden>
                                    {% else %}
                                    <input type="radio" name="{{i}} {{j}}" value={{k}} hidden>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <input type="text" class="ttt" name="ttg" placeholder="Translate Text to Graffiti" {% if form %} value="{{form['ttg']}}" {% endif %}>
                <input type="button" class="tr" name="translate" value="Translate">
                <input type="button" class="tr" name="invert" value="Invert">
                <input type="button" class="tr" name="clear" value="Clear">
            </div>
            {% endblock %}

            {% block submit %}
            <div>
                <input type="submit" class="do" value="Do IT">
            </div>
            {% endblock %}
        </form>
    </div>
    {% block user %}
    {% endblock %}
   
    
</body>
{% block footer %}
<footer>
    <a href="/contribute"><p style="display: inline;">Contribute </p></a>
    <a href="https://github.com/heckerfr0d/gitfitti-web"><img class="fa fa-github fa-2x" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png"></a>
    <a href="https://github.com/heckerfr0d/gitfitti-web/issues"><p style="display: inline;">Report a bug</p></a>
</footer>
{% endblock %}
</html>


<script src="{{ url_for('static', filename='script.js') }}"></script>