{% extends "main.html" %}
{% block main %}
<p class=message id="contribute">
    To automatically change your graffiti every day, simply register here and add your stuff in your page.
</p>
<div><input type="text" class="admin" name="name" placeholder="Username"></div>
<div><input type="text" class="admin" name="email" placeholder="Email"></div>
<div><input type="password" class="admin" name="password" placeholder="Create Password"></div>
<div><input type="submit" class="admin do" value="Register"></div>
{% endblock %}

{% block graph %}
{% endblock %}

{% block submit %}
{% endblock %}