{% extends "main.html" %}

{% block main %}
{% endblock %}

{% block submit %}
<div>
    <input type="text" class="rep" name="alias" placeholder="Give it a name">
    <input class="textfield num" type="number" name="year" placeholder="Year" min="1">
</div>
<div>
    <input type="text" class="rep" name="repo" placeholder="Repo name">
    <input class="textfield num" type="number" name="nc" placeholder="Commits/day" min="1">
</div>
<div>
    <input type="button" class="do" onclick="add()" value="Add it to the List!">
</div>
<div>
    <input type="button" class="do" onclick="showList()"  value="Edit the List" style="margin-top: 1px;">
</div>
{% endblock %}

{% block user %}
<div id="list" class="scroll-vertical root" style="display: none;">
<input type="button" class="back" value="<" onclick="hideList()">
{% if rows %}
{% for alias, repo, a, nc, year in rows %}
{% set act = "/users/"+username+"/"+alias %}
<div>
<form action={{act}} method="POST">
    <div>
        <div class="scroll-horizontal">
            <table>
                <tbody>
                    {% for i in range(7) %}
                    <tr>
                        {% for j in range(52) %}
                        <td>
                            {% set s = "btn btn-secondary c"~a[i][j] %}
                            <button type="button" name="{{i}} {{j}}" class="{{s}}"></button>
                            {% for k in range(3) %}
                            {% if k==a[i][j] %}
                            <input type="radio" name="{{i}} {{j}}" value="{{k}}" checked hidden>
                            {% else %}
                            <input type="radio" name="{{i}} {{j}}" value="{{k}}" hidden>
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="text" class="ttt" name="ttg" placeholder="Translate Text to Graffiti">
        <input type="button" class="tr" name="translate" value="Translate">
        <input type="button" class="tr" name="invert" value="Invert">
        <input type="button" class="tr" name="clear" value="Clear">
    </div>
    <div>
        <input type="text" class="rep" name="alias" placeholder="Give it a name" value={{alias}}>
        <input class="textfield num" type="number" name="year" placeholder="Year" min="1" value={{year}}>
    </div>
    <div>
        <input type="text" class="rep" name="repo" placeholder="Repo name" value={{repo}}>
        <input class="textfield num" type="number" name="nc" placeholder="Commits/day" min="1" value={{nc}}>
    </div>
    <input type="button" class="user" value="Update" onclick="update('{{alias|safe}}')">
    {% if not year %}
    <input type="button" class="user" value="Apply Now" onclick="apply('{{alias|safe}}')">
    {% endif %}
    {% set act = "/users/"+username+"/delete/"+alias %}
    <input type="button" class="user" value="Delete" onclick="delet('{{alias|safe}}')">
    <div id="progress">
        <span id="progressbar"></span>
        <span id="progresslabel">0/0</span>
    </div>
</form>
</div>
<hr>
{% endfor %}
{% set act = "/users/delete/"+username %}
<input type="button" class="do red" value="Delete Account" onclick="window.location.href='{{act}}'">
{% endif %}
</div>

<script>
    function showList() {
        $('#main').hide();
        $('#list').show();
    }

    function hideList() {
        $('#list').hide();
        $('#main').show();
    }

    function apply(alias) {
        var username = '{{username}}';
        var a = Array.from(Array(7), () => new Array(52));
        var act = '/users/'+username+'/'+alias;
        var form = document.querySelector('form[action="'+act+'"]');
        alias = form.querySelector('input[name="alias"]').value;
        var repo = form.querySelector('input[name="repo"]').value;
        var nc = form.querySelector('input[name="nc"]').value;
        for (var i=0; i<7; i++) {
            for (var j=0; j<52; j++) {
                a[i][j] = Number(form.querySelector('input[name="'+i+' '+j+'"]:checked').value);
            }
        }
        fetch('/users/'+username+'/apply', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                repo: repo,
                a: a,
                nc: nc
            })
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            if ('taskid' in data) {
                var act = '/users/'+username+'/'+alias;
                var form = document.querySelector('form[action="'+act+'"]');
                var progress = form.querySelector('div[id="progress"]');
                var progressbar = form.querySelector('span[id="progressbar"]');
                var progresslabel = form.querySelector('span[id="progresslabel"]');
                var tid = data['taskid'];
                var id=0;
                var interval = setInterval(function() {
                    fetch('/status/'+tid[id], {
                        method: 'GET'
                    }).then(function(response) {
                        return response.json();
                    }).then(function(data) {
                        if (data['state']=='SUCCESS') {
                            id++;
                            if (id == tid.length)
                                clearInterval(interval);
                            progress.style.display = 'none';
                            message = document.getElementById('res');
                            message.innerHTML = 'Created ' + data['total'] + ' commits in ' + repo + '.';
                        }
                        else {
                            i = data['current'];
                            n = data['total'];
                            progressbar.style.width = (i/n*100)+'%';
                            progresslabel.innerHTML = i+'/'+n;
                            progress.style.display = 'block';
                        }
                    });
                }, 2000);
            }
        });
    }

    function add() {
        var username = '{{username}}';
        var a = Array.from(Array(7), () => new Array(52));
        var act = '/users/'+username+'/add/';
        var form = document.querySelector('form[action="'+act+'"]');
        alias = form.querySelector('input[name="alias"]').value;
        var repo = form.querySelector('input[name="repo"]').value;
        var nc = form.querySelector('input[name="nc"]').value;
        var year = form.querySelector('input[name="year"]').value;
        for (var i=0; i<7; i++) {
            for (var j=0; j<52; j++) {
                a[i][j] = Number(form.querySelector('input[name="'+i+' '+j+'"]:checked').value);
            }
        }
        fetch(act, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                alias: alias,
                repo: repo,
                a: a,
                nc: nc,
                year: year
            })
        }).then(function(response) {
            if (response.status == 200) {
                message = document.getElementById('res');
                message.innerHTML = 'Added ' + alias + '.';
            }
            else {
                message = document.getElementById('res');
                message.innerHTML = 'Error adding ' + alias + '.';
            }
        });
    }

    function update(alias) {
        var username = '{{username}}';
        var a = Array.from(Array(7), () => new Array(52));
        var act = '/users/'+username+'/'+alias;
        var form = document.querySelector('form[action="'+act+'"]');
        alias = form.querySelector('input[name="alias"]').value;
        var repo = form.querySelector('input[name="repo"]').value;
        var nc = form.querySelector('input[name="nc"]').value;
        var year = form.querySelector('input[name="year"]').value;
        for (var i=0; i<7; i++) {
            for (var j=0; j<52; j++) {
                a[i][j] = Number(form.querySelector('input[name="'+i+' '+j+'"]:checked').value);
            }
        }
        fetch(act, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                alias: alias,
                repo: repo,
                a: a,
                nc: nc,
                year: year
            })
        }).then(function(response) {
            if (response.status == 200) {
                message = document.getElementById('res');
                message.innerHTML = 'Updated ' + alias + '.';
            }
            else {
                message = document.getElementById('res');
                message.innerHTML = 'Error updating ' + alias + '.';
            }
        });
    }

    function delet(alias) {
        var username = '{{username}}';
        var act = '/users/'+username+'/'+alias;
        document.querySelector('form[action="'+act+'"]').style.display = 'none';
        fetch('/users/'+username+'/delete/'+alias, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function(response) {
            if (response.status == 200) {
                message = document.getElementById('res');
                message.innerHTML = 'Deleted ' + alias + '.';
            }
            else {
                message = document.getElementById('res');
                message.innerHTML = 'Error deleting ' + alias + '.';
            }
        });
    }
</script>
{% endblock %}